<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Highline Aussies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icon/dark-apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icon/dark-favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icon/dark-favicon-32x32.png">


    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="/css/slick/slick-theme.css">

</head>

<body>

    <div id="mainContainer">
        <div id="contentBox">
            <div id="bannerImg">
                <img src="/images/HighlineBanner.png" alt="">
            </div>
            <div id="navBarBox">
                <ul id="navList" class="menu dropdown align-center" data-dropdown-menu>
                    <li><a href="/" ">HOME</a></li>
                    <li class=" divideLI">
                            <div class="divideLine"></div>
                    </li>
                    <li><a href="/about">ABOUT US</a></li>
                    <li class="divideLI">
                        <div class="divideLine"></div>
                    </li>
                    <li class="dropMenu"><a href="/ourdogs">OUR DOGS</a>
                        <ul class="menu">
                            <li><a href="/ourdogs/allie">Allie</a></li>
                            <li><a href="/ourdogs/lulu">Lulu</a></li>
                            <li><a href="/ourdogs/dela">Dela</a></li>
                            <li><a href="/ourdogs/crush">Crush</a></li>
                            <li><a href="/ourdogs/shimmer">Shimmer</a></li>
                        </ul>
                    </li>
                    <li class="divideLI">
                        <div class="divideLine"></div>
                    </li>
                    <li class="dropMenu"><a href="/litters">LITTERS</a>
                        <ul class="menu">
                            <li><a href="/litters/2020"><strong>!NEW! 2020 Upcsomming Litter</strong></a></li>
                            <!-- <li><a href=""></a></li> -->
                            <li><a href="/litters/development">Puppy Early Development</a></li>
                            <li><a href="/litters/past">Past Litters</a></li>
                        </ul>
                    </li>
                    <li class="divideLI">
                        <div class="divideLine"></div>
                    </li>
                    <li class="dropMenu"><a href="/bredby">BRED BY</a>
                        <ul class="menu">
                            <li><a href="/bredby/bacio">Bacio</a></li>
                            <li><a href="/bredby/bogart">Bogart</a></li>
                            <li><a href="/bredby/deacon">Deacon</a></li>
                            <li><a href="/bredby/layla">Layla</a></li>
                            <li><a href="/bredby/nike">Nike</a></li>
                            <li><a href="/bredby/parker">Parker</a></li>
                            <li><a href="/bredby/stout">Stout</a></li>
                            <li><a href="/bredby/taylor">Taylor</a></li>


                        </ul>
                    </li>
                    <li class="divideLI">|<div class="divideLine"></div>
                    </li>
                    <li><a href="/gallery">GALLERY</a></li>
                    <li class="divideLI">
                        <div class="divideLine"></div>
                    </li>
                    <li><a href="/info">INFORMATION</a></li>
                    <li class="divideLI">
                        <div class="divideLine"></div>
                    </li>
                    <li><a href="/contact">CONTACT</a></li>

                </ul>

            </div>
            <div class="contentWrapper">
                <div class="bannerText">
                    <h1>Contact Us</h1>
                </div>
                <div id="contactImage">
                    <img src="/images/ContactImageSM.jpg" alt="">
                </div>
            </div>

            <div id="contactWrapper">
                <div class="contact">
                    <strong>
                        <p id="name">Jacquie Hallenbeck</p>
                    </strong>
                    <p>Greenwood Village CO</p>
                    <p>Cell: (303) 638-3590</p>
                    <br>
                    <p><a href="mailto:jacquiehallenbeck@me.com">jacquiehallenbeck@me.com</a></p>
                </div>

            </div>
            <div class="copyright">
                <p>Copyright &copy; 2020 Highline Australian Shepherds. Developed by Ross Hallenbeck</p>
                <!-- Design by <a href="http://www.jeffreyhanlin.com/">Jillayne Karras</a>. -->
            </div>

        </div>

    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/whatInput/what-input.js"></script>
    <!-- <script src="/foundation/js/foundation.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js"
        integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/css/slick/slick.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script>
        var contact = document.getElementsByClassName(contact);
        $(document).ready(function () {
            $(".contact").find("p").attr("style", "font-size: 18px");
            $(".contact").find("a").attr("style", "font-size: 18px");
        });
    </script>


</body>

</html>