<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Highline Aussies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icon/dark-apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icon/dark-favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icon/dark-favicon-32x32.png">


    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="/css/slick/slick-theme.css">

</head>

<body>

    <div id="mainContainer">
        <div id="contentBox">
            <div id="bannerImg">
                <img src="/images/HighlineBanner.png" alt="">
            </div>
            <div id="navBarBox">
                <ul id="navList" class="menu dropdown align-center" data-dropdown-menu>
                    <li><a href="/" ">HOME</a></li>
                    <li class=" divideLI">
                            <div class="divideLine"></div>
                    </li>
                    <li><a href="/about">ABOUT US</a></li>
                    <li class="divideLI">
                        <div class="divideLine"></div>
                    </li>
                    <li class="dropMenu"><a href="/ourdogs">OUR DOGS</a>
                        <ul class="menu">
                            <li><a href="/ourdogs/allie">Allie</a></li>
                            <li><a href="/ourdogs/lulu">Lulu</a></li>
                            <li><a href="/ourdogs/dela">Dela</a></li>
                            <li><a href="/ourdogs/crush">Crush</a></li>
                            <li><a href="/ourdogs/shimmer">Shimmer</a></li>
                        </ul>
                    </li>
                    <li class="divideLI">
                        <div class="divideLine"></div>
                    </li>
                    <li class="dropMenu"><a href="/litters">LITTERS</a>
                        <ul class="menu">
                            <li><a href="/litters/2020"><strong>!NEW! 2020 Upcsomming Litter</strong></a></li>
                            <!-- <li><a href=""></a></li> -->
                            <li><a href="/litters/development">Puppy Early Development</a></li>
                            <li><a href="/litters/past">Past Litters</a></li>
                        </ul>
                    </li>
                    <li class="divideLI">
                        <div class="divideLine"></div>
                    </li>
                    <li class="dropMenu"><a href="/bredby">BRED BY</a>
                        <ul class="menu">
                            <li><a href="/bredby/bacio">Bacio</a></li>
                            <li><a href="/bredby/bogart">Bogart</a></li>
                            <li><a href="/bredby/deacon">Deacon</a></li>
                            <li><a href="/bredby/layla">Layla</a></li>
                            <li><a href="/bredby/nike">Nike</a></li>
                            <li><a href="/bredby/parker">Parker</a></li>
                            <li><a href="/bredby/stout">Stout</a></li>
                            <li><a href="/bredby/taylor">Taylor</a></li>
                            <li><a href="/bredby/wyatt">Wyatt</a></li>
                        </ul>
                    </li>
                    <li class="divideLI">|<div class="divideLine"></div>
                    </li>
                    <li><a href="/gallery">GALLERY</a></li>
                    <li class="divideLI">
                        <div class="divideLine"></div>
                    </li>
                    <li><a href="/info">INFORMATION</a></li>
                    <li class="divideLI">
                        <div class="divideLine"></div>
                    </li>
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
            </div>
            <!-- shit goes here  -->
            <div class="contentWrapper">
                <div class="soloDogPage">
                    <div class="bannerText">
                        <h1>Crush</h1>
                    </div>

                    <div class="dogMainImg">
                        <img src="/images/crush/crush_main.jpg" alt="">
                    </div>
                    <div class="dogTitle">
                        <h3>
                            <strong>Sonkist Got a Crush on You</strong>
                        </h3>
                    </div>
                    <div class="dogText dogText2 mainStyle">
                        <h1>About Crush</h1>
                        <p>
                            Crush came to us from our friends at Sonkist Australian Shepherds in California. He is out
                            of HOF
                            BISS/BIS CH Carolina Calais On The Fly, (number 1 ASCA intact 2008/2009) and ASCA/AKC CH
                            Calais Carolina
                            Call Me Classic, DNA-VP Crush did not make it as a show dog and was neutered at 15 months
                            but he was a
                            very much loved member of the family who soon found his calling as a service dog for my son
                            Ross who has
                            type 1 diabetes. Crush is a very smart, empathetic dog who very quickly became an expert at
                            detecting
                            low blood sugar. On more than one occasion he has prevented Ross from going into a diabetic
                            coma and has
                            even alerted complete strangers to low blood sugar.
                        </p>
                        <div class="dogSecondaryImg bottomPad">
                            <img src="/images/crush/image5.jpg" alt="">
                        </div>
                        <p>
                            When he’s not working as a service dog Crush loves
                            to go hiking and play ball. He also loves cats and is very sweet and gentle with them. Over
                            the years
                            Crush has made many friends with his calm, kind demeanor, he is the perfect Aussie
                            Ambassador



                        </p>
                    </div>
                    <div class="sliderBox" data-dog="crush">
                        <div class="slider-for">

                            <div><img src="/images/crush/crush_slider/00crush_3.jpg"></div>
                            <div><img src="/images/crush/crush_slider/01crush_5.jpg"></div>
                            <div><img src="/images/crush/crush_slider/02crush_8.jpg"></div>
                            <div><img src="/images/crush/crush_slider/crush_0.jpg"></div>
                            <div><img src="/images/crush/crush_slider/crush_1.jpg"></div>
                            <div><img src="/images/crush/crush_slider/crush_2.jpg"></div>
                            <div><img src="/images/crush/crush_slider/crush_4.jpg"></div>
                            <div><img src="/images/crush/crush_slider/crush_6.jpg"></div>
                            <div><img src="/images/crush/crush_slider/crush_7.jpg"></div>
                        </div>
                        <div class="sliderNavBox">
                            <div class="slider-nav">

                                <div class="slide"><img src="/images/crush/crush_slider/00crush_3.jpg"></div>
                                <div class="slide"><img src="/images/crush/crush_slider/01crush_5.jpg"></div>
                                <div class="slide"><img src="/images/crush/crush_slider/02crush_8.jpg"></div>
                                <div class="slide"><img src="/images/crush/crush_slider/crush_0.jpg"></div>
                                <div class="slide"><img src="/images/crush/crush_slider/crush_1.jpg"></div>
                                <div class="slide"><img src="/images/crush/crush_slider/crush_2.jpg"></div>
                                <div class="slide"><img src="/images/crush/crush_slider/crush_4.jpg"></div>
                                <div class="slide"><img src="/images/crush/crush_slider/crush_6.jpg"></div>
                                <div class="slide"><img src="/images/crush/crush_slider/crush_7.jpg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="dogText1 dogText">
                        <h3>
                            <strong>Date of Birth</strong>: October 18th, 2009
                            <br>
                            <strong>Owners</strong>: Jacquie Hallenbeck, Ross Hallenbeck


                        </h3>


                    </div>
                    <div class="sireDamDiv">
                        <div class="sireDamElement">
                            <h1>Sire</h1>
                            <img class="emmiTuckerImg" src="/images/crush/Tucker_main.jpg" alt="">
                            <h3>
                                <strong>Calais Carolina Call Me Classic</strong>
                                <br>
                                <a href="http://www.sonkistaussies.com/Boys.html"><strong>TUCKER</strong></a>

                            </h3>

                        </div>
                        <div class="sireDamElement">
                            <h1>Dam</h1>
                            <img class="emmiTuckerImg" src=/images/crush/Emmi_crop.jpg alt="">
                            <h3>
                                <strong>Calais Carolina On The Fly</strong>
                                <br>
                                <a href="http://www.sonkistaussies.com/Emmi.html"><strong>EMMI</strong></a>
                            </h3>
                        </div>
                    </div>

                </div>
            </div>
            <div id="contactWrapper">
                <div class="contact">
                    <strong>
                        <p id="name">Jacquie Hallenbeck</p>
                    </strong>
                    <p>Greenwood Village CO</p>
                    <p>Cell: (303) 638-3590</p>
                    <br>
                    <p><a href="mailto:jacquiehallenbeck@me.com">jacquiehallenbeck@me.com</a></p>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright &copy; 2020 Highline Australian Shepherds. Developed by Ross Hallenbeck</p>
                <!-- Design by <a href="http://www.jeffreyhanlin.com/">Jillayne Karras</a>. -->
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/whatInput/what-input.js"></script>
    <!-- <script src="/foundation/js/foundation.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js"
        integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/css/slick/slick.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script src="/js/slider.js"></script>


</body>

</html>