<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Highline Aussies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icon/dark-apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icon/dark-favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icon/dark-favicon-32x32.png">


    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="/css/slick/slick-theme.css">

</head>

<body>

    <div id="mainContainer">
        <div id="contentBox">
            <div id="bannerImg">
                <img src="/images/HighlineBanner.png" alt="">
            </div>
            <div id="navBarBox">
                <ul id="navList" class="menu dropdown align-center" data-dropdown-menu>
                    <li><a href="/" ">HOME</a></li>
                    <li class=" divideLI">
                            <div class="divideLine"></div>
                    </li>
                    <li><a href="/about">ABOUT US</a></li>
                    <li class="divideLI">
                        <div class="divideLine"></div>
                    </li>
                    <li class="dropMenu"><a href="/ourdogs">OUR DOGS</a>
                        <ul class="menu">
                            <li><a href="/ourdogs/allie">Allie</a></li>
                            <li><a href="/ourdogs/lulu">Lulu</a></li>
                            <li><a href="/ourdogs/dela">Dela</a></li>
                            <li><a href="/ourdogs/crush">Crush</a></li>
                            <li><a href="/ourdogs/shimmer">Shimmer</a></li>
                        </ul>
                    </li>
                    <li class="divideLI">
                        <div class="divideLine"></div>
                    </li>
                    <li class="dropMenu"><a href="/litters">LITTERS</a>
                        <ul class="menu">
                            <li><a href="/litters/2020"><strong>!NEW! 2020 Upcsomming Litter</strong></a></li>
                            <!-- <li><a href=""></a></li> -->
                            <li><a href="/litters/development">Puppy Early Development</a></li>
                            <li><a href="/litters/past">Past Litters</a></li>
                        </ul>
                    </li>
                    <li class="divideLI">
                        <div class="divideLine"></div>
                    </li>
                    <li class="dropMenu"><a href="/bredby">BRED BY</a>
                        <ul class="menu">
                            <li><a href="/bredby/bacio">Bacio</a></li>
                            <li><a href="/bredby/bogart">Bogart</a></li>
                            <li><a href="/bredby/deacon">Deacon</a></li>
                            <li><a href="/bredby/layla">Layla</a></li>
                            <li><a href="/bredby/nike">Nike</a></li>
                            <li><a href="/bredby/parker">Parker</a></li>
                            <li><a href="/bredby/stout">Stout</a></li>
                            <li><a href="/bredby/taylor">Taylor</a></li>
                            <li><a href="/bredby/wyatt">Wyatt</a></li>
                        </ul>
                    </li>
                    <li class="divideLI">|<div class="divideLine"></div>
                    </li>
                    <li><a href="/gallery">GALLERY</a></li>
                    <li class="divideLI">
                        <div class="divideLine"></div>
                    </li>
                    <li><a href="/info">INFORMATION</a></li>
                    <li class="divideLI">
                        <div class="divideLine"></div>
                    </li>
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
            </div>
            <!-- shit goes here  -->
            <div class="contentWrapper">
                <div class="soloDogPage">
                    <div class="bannerText">
                        <h1>Dela</h1>
                    </div>

                    <div class="dogMainImg">
                        <img src="/images/dela/Main/dela_main1.jpg" alt="">
                    </div>
                    <div class="dogTitle">
                        <h3>
                            SVCH VCH SPCH PCH WTCH A-CH RTCH <strong>Carolina Calais Set Fire To The Rain</strong>

                            <br> GS-E JS-E RS-E RAX REX HDAds OA OAJ

                        </h3>
                    </div>
                    <div class="dogText dogText2 mainStyle">
                        <h1>About Dela</h1>
                        <p>
                            Dela was the puppy who wasn’t supposed to stay. We were asked to watch her for a couple of
                            weeks while
                            her owners/breeders were at Australian Shepherd Nationals but of course she never left and
                            the rest is
                            history! We fell in love with her quirky, independent and sweet personality and after much
                            pleading our
                            good friends who bred/owned her agreed she could stay. You may notice the slew of
                            championships and
                            titles before and after her name, there’s a story to them. When Terri Morgan one of Dela’s
                            breeders
                            agreed to let her stay she said to me “I want you to make sure she uses her brain, she has
                            too much
                            talent to not have a job.” Well that was the start of an amazing journey that led to my love
                            and passion
                            for performance. Dela was my first rally champion, my first obedience dog, my first nosework
                            dog. She
                            was the dog who kindled my passion for agility. Dela forced me to become a thoughtful,
                            positive and fair
                            handler and I wouldn’t be the trainer I am today if not for her. Together we earned multiple
                            High in
                            Trials and top placements at our National Specialties. She holds a special place in my
                            friend and mentor
                            Terri Morgan’s heart too, not only as Dela’s breeder/co-owner but as her handler to her
                            first WTCH. This
                            was an accomplishment that I know both of us won’t forget in a hurry.
                            <br><br>
                            Dela is chief puppy raiser here at Highline Aussies, from the moment the dam is ok with Dela
                            stepping in
                            she throws herself into puppy care. From cleaning to teaching them how to play tug she is
                            the adoring
                            puppy nanny. Watching her with another dams offspring is enough to melt your heart.
                        </p>

                    </div>
                    <div class="sliderBox" data-dog='dela'>
                        <div class="slider-for">
                            <div><img src="/images/dela/dela_slider/0dela_gallery17.jpg"></div>
                            <div><img src="/images/dela/dela_slider/dela_gallery1.jpg"></div>
                            <div><img src="/images/dela/dela_slider/dela_gallery10.jpg"></div>
                            <div><img src="/images/dela/dela_slider/dela_gallery11.jpg"></div>
                            <div><img src="/images/dela/dela_slider/dela_gallery12.jpg"></div>
                            <div><img src="/images/dela/dela_slider/dela_gallery13.jpg"></div>
                            <div><img src="/images/dela/dela_slider/dela_gallery14.jpg"></div>
                            <div><img src="/images/dela/dela_slider/dela_gallery15.jpg"></div>
                            <div><img src="/images/dela/dela_slider/dela_gallery16.jpg"></div>
                            <div><img src="/images/dela/dela_slider/dela_gallery18.jpg"></div>
                            <div><img src="/images/dela/dela_slider/dela_gallery19.jpg"></div>
                            <div><img src="/images/dela/dela_slider/dela_gallery2.jpg"></div>
                            <div><img src="/images/dela/dela_slider/dela_gallery20.jpg"></div>
                            <div><img src="/images/dela/dela_slider/dela_gallery21.jpg"></div>
                            <div><img src="/images/dela/dela_slider/dela_gallery22.jpg"></div>
                            <div><img src="/images/dela/dela_slider/dela_gallery23.jpg"></div>
                            <div><img src="/images/dela/dela_slider/dela_gallery24.jpg"></div>
                            <div><img src="/images/dela/dela_slider/dela_gallery25.jpg"></div>
                            <div><img src="/images/dela/dela_slider/dela_gallery26.jpg"></div>
                            <div><img src="/images/dela/dela_slider/dela_gallery27.jpg"></div>
                            <div><img src="/images/dela/dela_slider/dela_gallery28.jpg"></div>
                            <div><img src="/images/dela/dela_slider/dela_gallery29.jpg"></div>
                            <div><img src="/images/dela/dela_slider/dela_gallery3.jpg"></div>
                            <div><img src="/images/dela/dela_slider/dela_gallery30.jpg"></div>
                            <div><img src="/images/dela/dela_slider/dela_gallery31.jpg"></div>
                            <div><img src="/images/dela/dela_slider/dela_gallery4.jpg"></div>
                            <div><img src="/images/dela/dela_slider/dela_gallery5.jpg"></div>
                            <div><img src="/images/dela/dela_slider/dela_gallery6.jpg"></div>
                            <div><img src="/images/dela/dela_slider/dela_gallery7.jpg"></div>
                            <div><img src="/images/dela/dela_slider/dela_gallery8.jpg"></div>
                            <div><img src="/images/dela/dela_slider/dela_gallery9.jpg"></div>
                        </div>
                        <div class="sliderNavBox">
                            <div class="slider-nav">
                                <div class="slide"><img src="/images/dela/dela_slider/0dela_gallery17.jpg"></div>
                                <div class="slide"><img src="/images/dela/dela_slider/dela_gallery1.jpg"></div>
                                <div class="slide"><img src="/images/dela/dela_slider/dela_gallery10.jpg"></div>
                                <div class="slide"><img src="/images/dela/dela_slider/dela_gallery11.jpg"></div>
                                <div class="slide"><img src="/images/dela/dela_slider/dela_gallery12.jpg"></div>
                                <div class="slide"><img src="/images/dela/dela_slider/dela_gallery13.jpg"></div>
                                <div class="slide"><img src="/images/dela/dela_slider/dela_gallery14.jpg"></div>
                                <div class="slide"><img src="/images/dela/dela_slider/dela_gallery15.jpg"></div>
                                <div class="slide"><img src="/images/dela/dela_slider/dela_gallery16.jpg"></div>
                                <div class="slide"><img src="/images/dela/dela_slider/dela_gallery18.jpg"></div>
                                <div class="slide"><img src="/images/dela/dela_slider/dela_gallery19.jpg"></div>
                                <div class="slide"><img src="/images/dela/dela_slider/dela_gallery2.jpg"></div>
                                <div class="slide"><img src="/images/dela/dela_slider/dela_gallery20.jpg"></div>
                                <div class="slide"><img src="/images/dela/dela_slider/dela_gallery21.jpg"></div>
                                <div class="slide"><img src="/images/dela/dela_slider/dela_gallery22.jpg"></div>
                                <div class="slide"><img src="/images/dela/dela_slider/dela_gallery23.jpg"></div>
                                <div class="slide"><img src="/images/dela/dela_slider/dela_gallery24.jpg"></div>
                                <div class="slide"><img src="/images/dela/dela_slider/dela_gallery25.jpg"></div>
                                <div class="slide"><img src="/images/dela/dela_slider/dela_gallery26.jpg"></div>
                                <div class="slide"><img src="/images/dela/dela_slider/dela_gallery27.jpg"></div>
                                <div class="slide"><img src="/images/dela/dela_slider/dela_gallery28.jpg"></div>
                                <div class="slide"><img src="/images/dela/dela_slider/dela_gallery29.jpg"></div>
                                <div class="slide"><img src="/images/dela/dela_slider/dela_gallery3.jpg"></div>
                                <div class="slide"><img src="/images/dela/dela_slider/dela_gallery30.jpg"></div>
                                <div class="slide"><img src="/images/dela/dela_slider/dela_gallery31.jpg"></div>
                                <div class="slide"><img src="/images/dela/dela_slider/dela_gallery4.jpg"></div>
                                <div class="slide"><img src="/images/dela/dela_slider/dela_gallery5.jpg"></div>
                                <div class="slide"><img src="/images/dela/dela_slider/dela_gallery6.jpg"></div>
                                <div class="slide"><img src="/images/dela/dela_slider/dela_gallery7.jpg"></div>
                                <div class="slide"><img src="/images/dela/dela_slider/dela_gallery8.jpg"></div>
                                <div class="slide"><img src="/images/dela/dela_slider/dela_gallery9.jpg"></div>
                            </div>
                        </div>
                    </div>
                    <div class="dogText1 dogText">
                        <h3>
                            <strong>Date of Birth</strong>: Feburary 2, 2012
                            <br>
                            <strong>Height</strong>: 21.5 inches | OFA Hips: Good | OFA Elbows:
                            Normal | Penn hip: 80%
                            <br>
                            Eyes cleared annually | Bite: Full Dentition/Scissors
                            <br>

                            <strong>Breeders</strong>: T. Morgan, S. Poplin, E. Stibley
                            <br>
                            <strong>Owners</strong>: Jacquie Hallenbeck, T.Morgan, S.Poplin E. Stibley


                        </h3>


                    </div>
                    <div class="sireDamDiv">
                        <div class="sireDamElement">
                            <h1>Sire</h1>
                            <img src="/images/dela/sire_dam/dela_sire.jpg" alt="">
                            <h3>
                                BIS HOF AKC GCH ASCA CH <br><strong>Hearthside's Standing Ovation</strong>
                                <br>
                                <a href="http://www.absolootaussies.com/bravo.htm"><strong>BRAVO</strong></a>

                            </h3>

                        </div>
                        <div class="sireDamElement">
                            <h1>Dam</h1>
                            <img src="/images/dela/sire_dam/dela_dam.jpg" alt="">
                            <h3>
                                HOF ASCA CH <strong>Calais Carolina Stella Performance</strong>

                                <br>
                                <a href=""><strong>STELLA</strong></a>
                            </h3>
                        </div>
                    </div>

                </div>
            </div>
            <div id="contactWrapper">
                <div class="contact">
                    <strong>
                        <p id="name">Jacquie Hallenbeck</p>
                    </strong>
                    <p>Greenwood Village CO</p>
                    <p>Cell: (303) 638-3590</p>
                    <br>
                    <p><a href="mailto:jacquiehallenbeck@me.com">jacquiehallenbeck@me.com</a></p>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright &copy; 2020 Highline Australian Shepherds. Developed by Ross Hallenbeck</p>
                <!-- Design by <a href="http://www.jeffreyhanlin.com/">Jillayne Karras</a>. -->
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/whatInput/what-input.js"></script>
    <!-- <script src="/foundation/js/foundation.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js"
        integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/css/slick/slick.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>

    <script src="/js/slider.js"></script>

</body>

</html>