<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Highline Aussies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icon/dark-apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icon/dark-favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icon/dark-favicon-32x32.png">


    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="/css/slick/slick-theme.css">

</head>

<body>

    <div id="mainContainer">
        <div id="contentBox">
            <div id="bannerImg">
                <img src="/images/HighlineBanner.png" alt="">
            </div>
            <div id="navBarBox">
                <ul id="navList" class="menu dropdown align-center" data-dropdown-menu>
                    <li><a href="/" ">HOME</a></li>
                    <li class=" divideLI">
                            <div class="divideLine"></div>
                    </li>
                    <li><a href="/about">ABOUT US</a></li>
                    <li class="divideLI">
                        <div class="divideLine"></div>
                    </li>
                    <li class="dropMenu"><a href="/ourdogs">OUR DOGS</a>
                        <ul class="menu">
                            <li><a href="/ourdogs/allie">Allie</a></li>
                            <li><a href="/ourdogs/lulu">Lulu</a></li>
                            <li><a href="/ourdogs/dela">Dela</a></li>
                            <li><a href="/ourdogs/crush">Crush</a></li>
                            <li><a href="/ourdogs/shimmer">Shimmer</a></li>
                        </ul>
                    </li>
                    <li class="divideLI">
                        <div class="divideLine"></div>
                    </li>
                    <li class="dropMenu"><a href="/litters">LITTERS</a>
                        <ul class="menu">
                            <li><a href="/litters/2020"><strong>!NEW! 2020 Upcsomming Litter</strong></a></li>
                            <!-- <li><a href=""></a></li> -->
                            <li><a href="/litters/development">Puppy Early Development</a></li>
                            <li><a href="/litters/past">Past Litters</a></li>
                        </ul>
                    </li>
                    <li class="divideLI">
                        <div class="divideLine"></div>
                    </li>
                    <li class="dropMenu"><a href="/bredby">BRED BY</a>
                        <ul class="menu">
                            <li><a href="/bredby/bacio">Bacio</a></li>
                            <li><a href="/bredby/bogart">Bogart</a></li>
                            <li><a href="/bredby/deacon">Deacon</a></li>
                            <li><a href="/bredby/layla">Layla</a></li>
                            <li><a href="/bredby/nike">Nike</a></li>
                            <li><a href="/bredby/parker">Parker</a></li>
                            <li><a href="/bredby/stout">Stout</a></li>
                            <li><a href="/bredby/taylor">Taylor</a></li>
                            <li><a href="/bredby/wyatt">Wyatt</a></li>
                        </ul>
                    </li>
                    <li class="divideLI">|<div class="divideLine"></div>
                    </li>
                    <li><a href="/gallery">GALLERY</a></li>
                    <li class="divideLI">
                        <div class="divideLine"></div>
                    </li>
                    <li><a href="/info">INFORMATION</a></li>
                    <li class="divideLI">
                        <div class="divideLine"></div>
                    </li>
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
            </div>
            <!-- shit goes here  -->
            <div class="contentWrapper">
                <div class="bannerText">
                    <h1>Litters</h1>
                </div>
                <div class="mainStyle center">
                    <h3><strong>!NEW!</strong> <a href="/litters/2020"><strong>LULU</strong> Litter CONFIRMED</a></h3>
                </div>
                <div class="sireDamDiv">
                    <div class="sireDamElement fixedSize">
                        <h1>Sire</h1>
                        <img src="/images/2020_litter/chandler_main.jpg" alt="">
                        <h3>

                            AKC CH/ASCA CH <br><strong>Calais Carolina Your Place Or Mine</strong>
                            <br>
                            <br>
                            <a href="http://www.calaisaussies.com/chandler.html"><strong>CHANDLER</strong></a>
                        </h3>
                        <!-- <h4><a href="http://www.vinelakeaussies.com/swoop.htm">Link</a> to Vinelake Aussies</h4> -->
                    </div>
                    <div class="sireDamElement fixedSize">
                        <h1>Dam</h1>
                        <img src="/images/2020_litter/lulu_main.jpg" alt="">
                        <h3>

                            AKC GCH/ASCA CH<br> <strong>Highline’s To Sir With Love</strong>
                            <br><br>
                            <a href="/ourdogs/lulu"><strong>LULU</strong></a>
                        </h3>
                    </div>
                </div>
                <div class="mainStyle">
                    <p>
                        AKC GCH/ASCA CH Highline’s To Sir With Love (<a href="/ourdogs/lulu">LULU</a>) has been bred and
                        confirmed
                        pregnant to
                        AKC/ASCA CH Calais Carolina Your Place Or Mine (<a
                            href="http://www.calaisaussies.com/chandler.html">CHANDLER</a>)
                        <br>
                        <br>
                        We expect exceptionally happy, confident, biddable and beautiful puppies from this cross. Blues
                        and blacks
                        possible.
                        <br>
                        <br>
                        As it looks like a large litter we may have a couple of companion puppies available. If you are
                        interested
                        in a puppy
                        please complete our puppy questionnaire (Enter link)or contact us for more details on this
                        litter.
                        <br>
                        <br>
                        Puppies are sold on spay/neuter contracts only. Our puppies are priced at $2000 and come with
                        eye exams with
                        a licensed
                        ophthalmologist, health check, first vaccinations and microchips. They have started crate
                        training, clicker
                        training,
                        leash training and have been exposed to many different social environments. <br><br>
                        Most people know not to buy from pet stores as doing so supports puppy mills. But how do you
                        find a
                        reputable breeder and what is the difference between a hobby breeder and a backyard breeder?
                        Read <a href="/files/A-COMPARISON-OF-Responsible-Hobby-Breeders-and-Backyard-Breeders.pdf"
                            target="_blank">this
                            excellent comparison by Victoria Rose.</a>
                        <br><br>
                        A couple of things I would like to add. A reputable breeder never charges more for a certain
                        coat or eye
                        color. They don’t charge more for a female over a male. They also would never have a buy it now
                        option on
                        their website. If you are considering buying from a breeder that does any of the above then you
                        are looking
                        at buying from a backyard breeder.
                        <br><br>
                        Please see how we raise litters <a href="/litters/development">HERE</a>
                        <br><br>
                        Interested in our litter? Fill out our puppy questionnaire <a
                            href="/files/Highline_Aussies_Questionnaire.doc" download>HERE</a>

                    </p>
                </div>

            </div>
            <div id="contactWrapper">
                <div class="contact">
                    <strong>
                        <p id="name">Jacquie Hallenbeck</p>
                    </strong>
                    <p>Greenwood Village CO</p>
                    <p>Cell: (303) 638-3590</p>
                    <br>
                    <p><a href="mailto:jacquiehallenbeck@me.com">jacquiehallenbeck@me.com</a></p>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright &copy; 2020 Highline Australian Shepherds. Developed by Ross Hallenbeck</p>
                <!-- Design by <a href="http://www.jeffreyhanlin.com/">Jillayne Karras</a>. -->
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/whatInput/what-input.js"></script>
    <!-- <script src="/foundation/js/foundation.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js"
        integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/css/slick/slick.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>



</body>

</html>