<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Highline Aussies</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/app.css">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/icon/dark-apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/icon/dark-favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/icon/dark-favicon-32x32.png">


    <link href="https://fonts.googleapis.com/css?family=Great+Vibes&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/css/slick/slick.css">
    <link rel="stylesheet" type="text/css" href="/css/slick/slick-theme.css">

</head>

<body>

    <div id="mainContainer">
        <div id="contentBox">
            <div id="bannerImg">
                <img src="/images/HighlineBanner.png" alt="">
            </div>
            <div id="navBarBox">
                <ul id="navList" class="menu dropdown align-center" data-dropdown-menu>
                    <li><a href="/" ">HOME</a></li>
                    <li class=" divideLI">
                            <div class="divideLine"></div>
                    </li>
                    <li><a href="/about">ABOUT US</a></li>
                    <li class="divideLI">
                        <div class="divideLine"></div>
                    </li>
                    <li class="dropMenu"><a href="/ourdogs">OUR DOGS</a>
                        <ul class="menu">
                            <li><a href="/ourdogs/allie">Allie</a></li>
                            <li><a href="/ourdogs/lulu">Lulu</a></li>
                            <li><a href="/ourdogs/dela">Dela</a></li>
                            <li><a href="/ourdogs/crush">Crush</a></li>
                            <li><a href="/ourdogs/shimmer">Shimmer</a></li>
                        </ul>
                    </li>
                    <li class="divideLI">
                        <div class="divideLine"></div>
                    </li>
                    <li class="dropMenu"><a href="/litters">LITTERS</a>
                        <ul class="menu">
                            <li><a href="/litters/2020"><strong>!NEW! 2020 Upcsomming Litter</strong></a></li>
                            <!-- <li><a href=""></a></li> -->
                            <li><a href="/litters/development">Puppy Early Development</a></li>
                            <li><a href="/litters/past">Past Litters</a></li>
                        </ul>
                    </li>
                    <li class="divideLI">
                        <div class="divideLine"></div>
                    </li>
                    <li class="dropMenu"><a href="/bredby">BRED BY</a>
                        <ul class="menu">
                            <li><a href="/bredby/bacio">Bacio</a></li>
                            <li><a href="/bredby/bogart">Bogart</a></li>
                            <li><a href="/bredby/deacon">Deacon</a></li>
                            <li><a href="/bredby/layla">Layla</a></li>
                            <li><a href="/bredby/nike">Nike</a></li>
                            <li><a href="/bredby/parker">Parker</a></li>
                            <li><a href="/bredby/stout">Stout</a></li>
                            <li><a href="/bredby/taylor">Taylor</a></li>
                            <li><a href="/bredby/wyatt">Wyatt</a></li>
                        </ul>
                    </li>
                    <li class="divideLI">|<div class="divideLine"></div>
                    </li>
                    <li><a href="/gallery">GALLERY</a></li>
                    <li class="divideLI">
                        <div class="divideLine"></div>
                    </li>
                    <li><a href="/info">INFORMATION</a></li>
                    <li class="divideLI">
                        <div class="divideLine"></div>
                    </li>
                    <li><a href="/contact">CONTACT</a></li>
                </ul>
            </div>
            <!-- shit goes here  -->
            <div class="contentWrapper">
                <div class="soloDogPage">
                    <div class="bannerText">
                        <h1>Lulu</h1>
                    </div>

                    <div class="dogMainImg">
                        <img src="/images/lulu/lulu_gallery29.jpg" alt="">
                    </div>
                    <div class="dogTitle">
                        <h3>
                            AKC GCH/ASCA CH <strong>Highline’s To Sir with Love</strong>
                            <br>
                            GS-N JS-N RS-N RNX RAX REX RMX DNA-VP
                        </h3>
                    </div>
                    <div class="dogText dogText2 mainStyle">
                        <h1>About Lulu</h1>
                        <p>
                            Lulu is my heart dog and I couldn’t imagine life without this sassy, biddable and brilliant
                            girl who
                            lives life to the fullest and excels at what ever I ask of her. Lulu followed in her mother
                            Allie’s
                            footsteps with an extremely successful conformation career. She took her first four and five
                            point
                            ASCA majors out of the 9-12 class going BOW both times and a BOS over a nice group of
                            specials owner
                            handled. She won the huge 9-12 puppy class three times at nationals and thrilled us by
                            taking RWB at
                            one of the pre-shows beautifully handled by good friend kristina Churchill. She finished
                            both AKC
                            and ASCA championships with ease by going BOB in both venues over multiple lovely specials.
                            Not only
                            is lulu beautifully put together but she is the most talented performance dog I’ve ever had
                            the good
                            fortune to own. Whether it’s rally, obedience, herding, barn hunt or agility she approaches
                            each
                            discipline with drive, focus and an abundance of natural talent. Lulu has been tested on
                            livestock
                            and not surprisingly she shows a ton of natural aptitude, she will start her herding career
                            once she’s
                            had her first litter.

                            <br><br>

                            Lulu out did herself at the ASCA 2019 nationals, even though it was her first time entered
                            in both
                            excellent and masters rally she took High Combined over some amazing competition in a very
                            stressful
                            trial environment.</p>
                        <div class="dogSecondaryImg bottomPad">
                            <img src="/images/lulu/lulu_main3.jpg" alt="">
                        </div>
                        <p>

                            The sky’s the limit for this girl, we have some lofty goals in our future and I have no
                            doubt that we will achieve them.


                        </p>
                    </div>
                    <div class="sliderBox" data-dog='lulu'>
                        <div class="slider-for">

                            <div><img src="/images/lulu/lulu_slider/lulu_gallery1.jpg"></div>
                            <div><img src="/images/lulu/lulu_slider/lulu_gallery10.jpg"></div>
                            <div><img src="/images/lulu/lulu_slider/lulu_gallery11.jpg"></div>
                            <div><img src="/images/lulu/lulu_slider/lulu_gallery12.jpg"></div>
                            <div><img src="/images/lulu/lulu_slider/lulu_gallery13.jpg"></div>
                            <div><img src="/images/lulu/lulu_slider/lulu_gallery14.jpg"></div>
                            <div><img src="/images/lulu/lulu_slider/lulu_gallery15.jpg"></div>
                            <div><img src="/images/lulu/lulu_slider/lulu_gallery16.jpg"></div>
                            <div><img src="/images/lulu/lulu_slider/lulu_gallery17.jpg"></div>
                            <div><img src="/images/lulu/lulu_slider/lulu_gallery18.jpg"></div>
                            <div><img src="/images/lulu/lulu_slider/lulu_gallery19.jpg"></div>
                            <div><img src="/images/lulu/lulu_slider/lulu_gallery2.jpg"></div>
                            <div><img src="/images/lulu/lulu_slider/lulu_gallery20.jpg"></div>
                            <div><img src="/images/lulu/lulu_slider/lulu_gallery21.jpg"></div>
                            <div><img src="/images/lulu/lulu_slider/lulu_gallery22.jpg"></div>
                            <div><img src="/images/lulu/lulu_slider/lulu_gallery23.jpg"></div>
                            <div><img src="/images/lulu/lulu_slider/lulu_gallery24.jpg"></div>
                            <div><img src="/images/lulu/lulu_slider/lulu_gallery25.jpg"></div>
                            <div><img src="/images/lulu/lulu_slider/lulu_gallery26.jpg"></div>
                            <div><img src="/images/lulu/lulu_slider/lulu_gallery27.jpg"></div>
                            <div><img src="/images/lulu/lulu_slider/lulu_gallery28.jpg"></div>
                            <div><img src="/images/lulu/lulu_slider/lulu_gallery3.jpg"></div>
                            <div><img src="/images/lulu/lulu_slider/lulu_gallery4.jpg"></div>
                            <div><img src="/images/lulu/lulu_slider/lulu_gallery5.jpg"></div>
                            <div><img src="/images/lulu/lulu_slider/lulu_gallery6.jpg"></div>
                            <div><img src="/images/lulu/lulu_slider/lulu_gallery7.jpg"></div>
                            <div><img src="/images/lulu/lulu_slider/lulu_gallery8.jpg"></div>
                            <div><img src="/images/lulu/lulu_slider/lulu_gallery9.jpg"></div>
                            <div><img src="/images/lulu/lulu_slider/lulu_main2.jpg"></div>
                            <div><img src="/images/lulu/lulu_slider/lulu_main4.jpg"></div>
                            <div><img src="/images/lulu/lulu_slider/lulu_main5.jpg"></div>
                            <div><img src="/images/lulu/lulu_slider/lulu_mainsm.jpg"></div>
                        </div>
                    </div>
                    <div class="sliderNavBox">
                        <div class="slider-nav">

                            <div class="slide"><img src="/images/lulu/lulu_slider/lulu_gallery1.jpg"></div>
                            <div class="slide"><img src="/images/lulu/lulu_slider/lulu_gallery10.jpg"></div>
                            <div class="slide"><img src="/images/lulu/lulu_slider/lulu_gallery11.jpg"></div>
                            <div class="slide"><img src="/images/lulu/lulu_slider/lulu_gallery12.jpg"></div>
                            <div class="slide"><img src="/images/lulu/lulu_slider/lulu_gallery13.jpg"></div>
                            <div class="slide"><img src="/images/lulu/lulu_slider/lulu_gallery14.jpg"></div>
                            <div class="slide"><img src="/images/lulu/lulu_slider/lulu_gallery15.jpg"></div>
                            <div class="slide"><img src="/images/lulu/lulu_slider/lulu_gallery16.jpg"></div>
                            <div class="slide"><img src="/images/lulu/lulu_slider/lulu_gallery17.jpg"></div>
                            <div class="slide"><img src="/images/lulu/lulu_slider/lulu_gallery18.jpg"></div>
                            <div class="slide"><img src="/images/lulu/lulu_slider/lulu_gallery19.jpg"></div>
                            <div class="slide"><img src="/images/lulu/lulu_slider/lulu_gallery2.jpg"></div>
                            <div class="slide"><img src="/images/lulu/lulu_slider/lulu_gallery20.jpg"></div>
                            <div class="slide"><img src="/images/lulu/lulu_slider/lulu_gallery21.jpg"></div>
                            <div class="slide"><img src="/images/lulu/lulu_slider/lulu_gallery22.jpg"></div>
                            <div class="slide"><img src="/images/lulu/lulu_slider/lulu_gallery23.jpg"></div>
                            <div class="slide"><img src="/images/lulu/lulu_slider/lulu_gallery24.jpg"></div>
                            <div class="slide"><img src="/images/lulu/lulu_slider/lulu_gallery25.jpg"></div>
                            <div class="slide"><img src="/images/lulu/lulu_slider/lulu_gallery26.jpg"></div>
                            <div class="slide"><img src="/images/lulu/lulu_slider/lulu_gallery27.jpg"></div>
                            <div class="slide"><img src="/images/lulu/lulu_slider/lulu_gallery28.jpg"></div>
                            <div class="slide"><img src="/images/lulu/lulu_slider/lulu_gallery3.jpg"></div>
                            <div class="slide"><img src="/images/lulu/lulu_slider/lulu_gallery4.jpg"></div>
                            <div class="slide"><img src="/images/lulu/lulu_slider/lulu_gallery5.jpg"></div>
                            <div class="slide"><img src="/images/lulu/lulu_slider/lulu_gallery6.jpg"></div>
                            <div class="slide"><img src="/images/lulu/lulu_slider/lulu_gallery7.jpg"></div>
                            <div class="slide"><img src="/images/lulu/lulu_slider/lulu_gallery8.jpg"></div>
                            <div class="slide"><img src="/images/lulu/lulu_slider/lulu_gallery9.jpg"></div>
                            <div class="slide"><img src="/images/lulu/lulu_slider/lulu_main2.jpg"></div>
                            <div class="slide"><img src="/images/lulu/lulu_slider/lulu_main4.jpg"></div>
                            <div class="slide"><img src="/images/lulu/lulu_slider/lulu_main5.jpg"></div>
                            <div class="slide"><img src="/images/lulu/lulu_slider/lulu_mainsm.jpg"></div>
                        </div>
                    </div>

                    <div class="dogText1 dogText">
                        <h3>
                            <strong>Date of Birth</strong>: March 21st, 2017
                            <br>
                            <strong>Weight</strong>: 42Lbs| Black Tri Female | Height: 19 inches | OFA Hips: Excellent |
                            OFA Elbows:
                            Normal
                            <br>
                            Eyes cleared annually | Bite: Full Dentition/Scissors
                            <br>
                            <a href="/files/Pedigree.pdf" target="_blank">Genetic health testing results and Pedigree
                            </a>
                            <br>
                            <strong>Breeder/Owner</strong>: Jacquie Hallenbeck


                        </h3>


                    </div>
                    <div class="sireDamDiv">
                        <div class="sireDamElement">
                            <h1>Sire</h1>
                            <img src="/images/tango/tangosm.jpg" alt="">
                            <h3>
                                MBIS MBISS GCh. ASCA CH <br><strong>Silverwood's Kiss of Fire at Limelite</strong><br>
                                <br>
                                <a href="http://www.limeliteaussies.com/tango.html"><strong>TANGO</strong></a>

                            </h3>

                        </div>
                        <div class="sireDamElement">
                            <h1>Dam</h1>
                            <img src="/images/lulu/allie.jpg" alt="">
                            <h3>
                                AKC/ASCA CH <strong>Calais Carolina Allie Oop</strong>
                                <br>
                                GS-N JS-O RS-O RNX RA RSA-E DNA-VP JSA-E-OP GSA-O
                                <br>
                                <a href="/ourdogs/allie"><strong>ALLIE</strong></a>
                            </h3>
                        </div>
                    </div>

                </div>
            </div>
            <div id="contactWrapper">
                <div class="contact">
                    <strong>
                        <p id="name">Jacquie Hallenbeck</p>
                    </strong>
                    <p>Greenwood Village CO</p>
                    <p>Cell: (303) 638-3590</p>
                    <br>
                    <p><a href="mailto:jacquiehallenbeck@me.com">jacquiehallenbeck@me.com</a></p>
                </div>
            </div>
            <div class="copyright">
                <p>Copyright &copy; 2020 Highline Australian Shepherds. Developed by Ross Hallenbeck</p>
                <!-- Design by <a href="http://www.jeffreyhanlin.com/">Jillayne Karras</a>. -->
            </div>
        </div>
    </div>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="/whatInput/what-input.js"></script>
    <!-- <script src="/foundation/js/foundation.js"></script> -->
    <script src="https://cdn.jsdelivr.net/npm/foundation-sites@6.6.3/dist/js/foundation.min.js"
        integrity="sha256-pRF3zifJRA9jXGv++b06qwtSqX1byFQOLjqa2PTEb2o=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/css/slick/slick.min.js"></script>
    <script type="text/javascript" src="/js/app.js"></script>
    <script src="/js/slider.js"></script>


</body>

</html>